<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOTD</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@500&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

    <style type="text/css">
        *{
            font-family: 'Noto Sans KR', sans-serif;
        }

        .wrap {
            width: 1000px;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="wrap">
        <h1 class="title is-1">OOTD</h1>
        <form method="post" action="/login">
        id : <input type="text" name="id">
        pw : <input type="password" name="pw">
        </form>
    </div>
</body>
</html>